/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 */
/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+                     LIBREOFFICE HELP IN BROWSER                   +
+                          DEFAULT STYLESHEET                       +
+                           WESTERN LANGUAGES                       +
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

We use px as the unit for navigation elements and fonts because we do
not want them to scale with browser-set font size.
We use rem as the unit for article and footer contents because they
do not break anything related to layout by scaling.

*/

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.listitem,
.listitemintable,
.tablecontent,
.input {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "DejaVu Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif, FreeSerif, NanumGothic, "Noto Sans Tibetan", Taprom;
}
.input {
    transition-property: background-color;
    transition-duration: 150ms;
    border-bottom: 1px dashed rgba(0,0,0,0.1);
}
[data-tooltip]{
  position:relative;
}
[data-tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    opacity: 1;
    pointer-events: auto;
}
body {
    background-color: #FCFCFC;
    margin: 0;
    line-height: normal;
}
::selection {
    background: #BFFFB7;
}
a {
    text-decoration: none;
    color: #0369AE;
}
a:hover {
    text-decoration: underline;
    color: #1C99E0;
}
pre,
.code,
.codeintable,
.example,
.exampleintable,
.literal,
.literalintable,
.path,
.pathintable {
    background-color: rgba(0,0,0,0.04);
    border-radius: 2px;
    display: inline;
    padding: 1px 3px;
    font-family: Menlo, Consolas, "DejaVu Sans Mono", "Nimbus Mono L", "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
}
.acronym {
    font-weight: bold;
}
.related {
    font-weight: bold;
    margin-top: 1.67rem;
    border-top: 1px solid black;
}
.emph,
.menuitem,
.keycode {
    font-weight: bold;
}
/* div's for warning, tip and note */
.note,
.tip,
.warning {
    display:flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
    padding: 0.2em;
    margin-top: 15px;
}
.note {
    border-left: 4px solid #FFDE09;
    background-color: #FFF4D0;
}
.tip {
    border-left: 4px solid #38618C;
    background-color: #DAE2EA;
}
.warning {
    border-left: 4px solid #FF5964;
    background-color: #FFE0E2;
}
.noteicon {
    padding:0.3em;
}
.notetext {
    padding:0.3em;
}

/* Table related classes */

/* Special case of table with one cell*/
.onecell{
    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px 0px;
    border-bottom: 1px solid #E8E8E8;
}
/* Special case of icon table*/
.icontable {
    display:flex;
    align-items:center;
}
.iconcell {
    padding:0.3em;
}

table {
    box-shadow: rgba(0,0,0,0.1) 0px 1px 3px 0px;
    border-collapse: collapse;
    background: #fefefe;
}
table, th, td {
    border-top: 0;
    border-bottom: 1px solid #E8E8E8;
    border-left: 0;
    border-right: 0;
    padding: 0.3em;
}
.tablehead,
.tableheadintable {
    font-weight: bold;
    margin-top: 0px;
}
.tableheadcell {
    background: #148603;
    color: white;
    vertical-align:top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.67rem;
    color: #148603;
}
p,
ol,
td {
    font-size: 1.17rem;
    margin: 2px 2px 2px 2px;
}
h1 {
    font-size: 1.83rem;
    font-weight: 300;
    border-bottom: 2px solid #148603;
    padding-bottom: 6px;
}
h1 a {
    text-decoration: none;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.33rem;
}
h4,
h5,
h6 {
    font-size: 1.17rem;
}
.avis {
    /*    background-color: #EEEEEE;*/
}
.relatedtopics {
    font-weight: normal;
}
.relatedbody {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}
.howtoget {
    background: #CCF4C6;
    border-left: 4px solid #148603;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
    padding: 0.3em;
    display: flex;
    flex-direction: column;
}
.howtogetheader {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
    display: inline-block;
    font-weight: bold;
    padding: 0.3em;
}
.howtogetbody {
}
.samplefilesection{
}
.wide {
    width: 100%;
}
.topalign {
    vertical-align: top;
    border: 1px;
}
.bug {
    color: red;
}
.debug {
    border: 1px solid black;
    padding: 3px;
    display: show;
    background-color: #222;
    color: red;
    text-align: left;
}
.donation {
    padding: 0 0 10px 0;
    margin-bottom: 1em;
    border-bottom: 1px dashed rgba(0,0,0,0.1);
}
.donation p{
    font-size:1.2rem;
}
.bascode {
    background-color: #fafafa;
    margin-left: 30px;
    margin-right: 30px;
}
.bascodepar {
    font-family: monospace;
}

/* Basic code syntax highlight */

.identifier,
.unknown {
    color: green;
}
.keyword {
    color: blue;
}
.comment {
    color: gray;
}
.number,
.string {
    color: red;
}
.operator,
.parameter {
    color: black;
}
.hotlink {
    color: blue;
}
.infopage {
    color: green;
    font-size: 1.33rem;
    font-weight: bold;
}
.topmenu {
    font-size: 1rem;
    font-weight: bold;
    padding: 1px;
    border: solid 1px #148603;
}
#DisplayArea {
    overflow: auto;
    padding: 10px;
    grid-area: main;
    margin-bottom: 50px;
}
#DisplayArea > p {
    margin-bottom: 10px;
}
.mediabutton {
    background-color: cyan;
}
.mediadiv{
    padding-bottom:5%;
    height:0;
    display:inline-block;
    border:none;
}
.switch,
.switchinline {}

.tintro {
    color: white;
    background-color: green;
    font-family: Arial;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid black;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.embedded {}
.header-extrawurst {
    grid-area: header;
}
header {
    background-color: #18A303;
    color: #fff;
    height: 64px;
    padding: 8px 8px 8px 16px;
}
.logo-container {
    display: flex;
    justify-content: space-between;
}
.logo {
    color: #fff;
    text-decoration: none;
    display: flex;
}
.logo p {
    font-size: 24px;
}
.logo .symbol {
    background-image: url(media/navigation/libo-symbol-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 52px;
    height: 60px;
    margin-right: 10px;
}
.lang nav, .modules nav {
    z-index: 100;
    /* line them up horizontally */
    display: flex;
    flex-direction: row;
    /* allow for scrolling */
    overflow-x: auto;
    overflow-y: hidden;
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
    text-align: center;
}
.lang nav a, .modules nav a {
    color: #fff;
    background-color: #233336;
    display: block;
    line-height: 1.5;
    padding: 3px 6px;
    text-decoration: none;
    font-size: 24px;
    flex-shrink: 0;
    z-index: 100;
    white-space: nowrap;
}
footer {
    border-top: 2px solid #148603;
    background: linear-gradient(to bottom, rgba(0,0,0,0.025) 0%,rgba(0,0,0,0) 100%);
    padding: 15px 10px 0 10px;
    margin: 25px 0 0 0;
}
footer p {
    font-size: 0.98rem;
}
.gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 3px 0 0 0 !important;
}
.modules input[type=checkbox], .lang input[type=checkbox],
.contents-treeview input[type=checkbox], aside input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
label[for=accordion-1] {
    color: #148603;
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 22px;
    line-height: .6;
}
label[for=accordion-1]:after {
    font-size: 44px;
    content:"⌄";
}
aside input[type=checkbox] ~ .contents-treeview {
    display: none;
}
aside input[type=checkbox]:checked ~ .contents-treeview {
    color: #333;
    z-index: 6;
    display: block;
    margin: 0 20px 0 20px;
}
.index-label {
    font-size: 22px;
    color: #148603;
    padding-left: 20px;
    margin: 20px 0 0 0;
}
#Index, .index {
    margin-top: 10px;
}
.index {
    padding-left: 15px;
}
.index a {
    font-size: 16px;
    margin-bottom: 5px;
}
#Bookmarks {
    padding: 0 20px;
}
#Bookmarks p {
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#WRITER::before {
    content: "WRITER";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#CALC::before {
    content: "CALC";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#IMPRESS::before {
    content: "IMPRESS";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#DRAW::before {
    content: "DRAW";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#BASE::before {
    content: "BASE";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#MATH::before {
    content: "MATH";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#CHART::before {
    content: "CHART";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#BASIC::before {
    content: "BASIC";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
#SHARED::before {
    content: "GLOBAL";
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #148603;
}
.pagination {
    padding: 0;
}
.pagination li {
    display: inline-block;
    padding: 4px;
}
.pagination a {
    text-decoration: none;
}
.fuseshown {
    display: block;
}
.fusehidden {
    display: none;
}
.fuseshown.hidden {
    display: none;
}
li.active {
    background-color: #0369A3;
}
li.active a {
    color: #fff;
}
li.disabled a {
    color: #90C0E6;
}
#search-bar {
    margin-top: 10px;
}
.google-search {
    max-width: 300px;
    margin: 0 auto;
}
.modules {
    border-bottom: 2px solid #f3f3f3;
}
.modules label:after, .lang label:after {
    font-size: 30px;
    color: #fff;
    content:"⌄";
}
.lang label, .modules label {
    display: none;
}
.modules nav div {
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    display: none;
}
.calc-icon,
.chart-icon,
.writer-icon,
.impress-icon,
.draw-icon,
.math-icon,
.basic-icon,
.base-icon {
    width: 21.5px;
    height: 26px;
    position: relative;
    margin-right: 5px;
}
.calc-icon {
    background-image: url(media/navigation/libo-calc.svg);
}
.writer-icon {
    background-image: url(media/navigation/libo-writer.svg);
}
.impress-icon {
    background-image: url(media/navigation/libo-impress.svg);
}
.draw-icon {
    background-image: url(media/navigation/libo-draw.svg);
}
.math-icon {
    background-image: url(media/navigation/libo-math.svg);
}
.base-icon {
    background-image: url(media/navigation/libo-base.svg);
}
.chart-icon {
    background-image: url(media/navigation/libo-chart.svg);
}
.basic-icon {
    background-image: url(media/navigation/libo-basic.svg);
}
/* tree view */

.contents-treeview ul,
.contents-treeview li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
}
.contents-treeview {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.contents-treeview a, .index a {
    text-decoration: none;
}
.contents-treeview a:hover, .index a:hover {
    text-decoration: underline;
}
.contents-treeview input + label + ul {
    margin: 0 0 0 22px;
}
.contents-treeview input ~ ul {
    display: none;
}
.contents-treeview label,
.contents-treeview label:before {
    cursor: pointer;
    color: #111;
}
.contents-treeview input:disabled + label {
    cursor: default;
    opacity: .6;
}
.contents-treeview input:checked:not(:disabled) ~ ul {
    display: block;
}
.contents-treeview label,
.contents-treeview a,
.contents-treeview label::before {
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}
.contents-treeview label:before {
    content: "⊞";
    color: #148603;
    width: 16px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.contents-treeview input:checked + label::before {
    content: "⊟";
}
.contents-current {
    background-color: #0369A3;
    color: #FFF;
    padding-right: 1px;
}
.contents-current:hover {
    color: #FFF;
}
/* webkit adjacent element selector bugfix */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .contents-treeview {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
        from {
            padding: 0;
        }
        to {
            padding: 0;
        }
    }
}
@media screen and (min-width: 960px) {
    .lang nav {
        display: none;
    }
    .lang nav a {
        font-size: 19px;
        white-space: normal;
    }
    .lang label, .modules label {
        cursor: pointer;
        color: #fff;
        font-size: 19px;
        position: relative;
        top: 40px;
        display: block;
    }
    /* change the menu direction to stacked */

    .lang input[type="checkbox"]:checked ~ nav, .modules input[type="checkbox"]:checked ~ nav {
        display: flex;
        flex-direction: column;
        max-width: 120px;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 480px;
        position: absolute;
        top: 80px;
    }
    .modules input[type="checkbox"]:checked ~ nav {
        background-color: #101820;
        text-align: left;
    }
    .modules nav {
        display: none;
    }
    .modules nav div {
        display: block;
    }
    .modules nav a {
        font-size: 19px;
    }
    aside {
        background-color: #F4F7F7;
        border-right: 1px solid rgba(0,0,0,0.04);
        float: left;
        width: 320px;
    }
    .leftside {
        grid-area: leftside;
    }
    .rightside {
        grid-area: rightside;
    }
    .google-search {
        margin: 0;
        position: absolute;
        top: 19px;
        left: 860px;
    }
    .lang {
        position: absolute;
        top: 0;
        left: 200px;
    }
    .modules {
        width: 120px;
        position: absolute;
        top: 0;
        left: 80px;
        border: none;
    }
    #DisplayArea {
        padding: 10px 50px;
        width: 800px;
    }
    #search-bar {
        max-width: 290px;
    }
}
@media screen and (min-width: 1440px) {
    #Contents {
        color: #333;
        z-index: 6;
        display: block;
        margin: 0 20px 0 20px;
    }
    label[for=accordion-1] {
        background-color: transparent;
        text-decoration: none;
    }
     label[for=accordion-1]:hover {
        background-color: transparent;
    }
     label[for=accordion-1]:after {
        content: "";
    }
}
@supports (grid-area: auto) {
    @media screen and (min-width: 960px) {
        body {
            display: grid;
            grid-template-columns: 320px 1fr;
            grid-template-rows: minmax(1em, auto) minmax(1em, auto) 1fr;
            grid-template-areas: "header header"
                                 "rightside main"
                                 "leftside main"
        }
    }
    @media screen and (min-width: 1440px) {
        body {
            display: grid;
            grid-template-columns: 320px 900px 1fr;
            grid-template-rows: 1fr minmax(1em, auto);
            grid-template-areas: "header header header"
                                 "leftside main rightside"
        }
        .rightside {
            width: auto;
            border-right: none;
            border-left: 1px solid rgba(0,0,0,0.04);
        }
    }
}
